---
permalink: /2745049280bd29792b4f4fd4cd8324ea.txt
eleventyExcludeFromCollections: true
---
{#- IndexNow-noeglefil.

    IndexNow er en protokol, hvor man selv fortaeller soegemaskinen, at en
    side er aendret, i stedet for at vente paa at den opdager det. Bing,
    Yandex, Naver og Seznam bruger den. Google goer ikke.

    Sikkerheden er filen her: den beviser, at den der indsender URL'er ogsaa
    raader over domaenet. Noeglen er derfor offentlig med vilje - den ligger
    aabent paa <https://hesteassisteret-praksis.dk/2745049280bd29792b4f4fd4cd8324ea.txt>
    og skal goere det. Den er ikke en adgangskode.

    Filnavnet SKAL vaere noeglen selv, og indholdet SKAL vaere noeglen og
    intet andet. Aendres noeglen, skal permalinken ovenfor rettes tilsvarende,
    ellers holder indsendelser op med at virke med fejl 403.

    Noeglen staar med vilje ikke i site.json: den maa ikke kunne redigeres i
    CMS'et ved et uheld.

    Indsendelse sker med:
      curl "https://api.indexnow.org/indexnow?url=<URL>&key=<noegle>"
    eller som POST med en liste, se README. -#}
2745049280bd29792b4f4fd4cd8324ea
